body {
  margin: 0;
  padding: 0;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

.App__tab {
  display: flex;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.App__tab button {
  background-color: transparent;
  border: 0;
  padding: 12px 12px;
  flex-basis: 50%;
  text-align: center;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.App__tab button.active {
  border-bottom-color: blue;
  font-weight: bold;
}
